<link rel="stylesheet" href="/css/listar.css">
<link rel="stylesheet" href="/css/main.css">
<style>
    .itemCarrinho {
        display: flex;
        margin: 10px;
        align-items: center;
    }

    .descricaoItem {
        padding: 10px;
    }



    .divBotoesCarrinho {
        display: flex;
        justify-content: space-around;
    }
</style>
<div class="cx-form p-3 mb-5 bg-light rounded">
    <h1 class="text-center text-black-50 pt-5">Lista de Títulos</h1>

    <div style="width: 100%;">
        <a class="btn btn-primary btn-editar" href="/titulo/cadastro">
            Criar novo registro de título
        </a>
        <button data-bs-toggle="modal" data-bs-target="#carrinhoModal" class="btn btn-primary btn-editar">
            <i class="bi-cart-fill me-1"></i>
            Carrinho <i class="fas fa-shopping-cart"></i>
            <span id="contadorCarrinho" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
        <div class="modal fade" id="carrinhoModal" tabindex="-1" aria-labelledby="carrinhoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="carrinhoModalLabel"><i class="bi-cart-fill me-1"></i> Carrinho de compras</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="corpoModal">
                        <div class="table-responsive">
                            <table style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Descrição</th>
                                        <th>Quantidade</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody id="corpoTabelaCarrinho">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer" style="display:block;">
                        <div id="valorTotalCarrinho" style="text-align:end;">
                            
                        </div>
                        <hr>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" id="btnGravarPedido" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:20px;">
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Edição</th>
                            <th>Ano</th>
                            <th>Editora</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="corpoTabela">
                        <% lista.forEach(function(value, index) { %>
                            <tr>
                                <td>
                                    <%= value.id %>
                                </td>
                                <td>
                                    <%= value.nome %>
                                </td>
                                <td>
                                    <%= value.edicao %>
                                </td>
                                <td>
                                    <%= value.ano %>
                                </td>
                                <td>
                                    <%= value.editora %>
                                </td>
                                <td>
                                    <div style="width: 100% !important; display: flex; justify-content: space-evenly; align-items: center;">
                                        <button data-id="<%= value.id %>" title="Excluir"
                                            class="btn btn-danger btnExcluir"><i class="fas fa-trash"></i></button>
    
                                        <a href="/titulo/alterar/<%= value.id %>" title="Editar"
                                            class="btn btn-primary btn-editar">
                                            <i class="fas fa-pen"></i>
                                        </a>

                                        <a  data-id="<%= value.id %>" title="Adicionar"
                                            class="btn btn-primary btnAddCarrinho">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>

                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
    
        </div>
    </div>
</div>

<script src="/js/titulo/listar.js"></script>
<script src="/js/titulo/carrinho.js"></script>
