<<<<<<< HEAD
<link rel="stylesheet" href="/css/criar-livro.css">

<div class="cx-form p-3 mb-5 bg-light rounded">
  <form action="/livro/excluir" method="POST" class="livro-liv p-3 mb-5 bg-white rounded" >
    <h1 class="text-center text-black-50 pt-5">Lista de Empréstimos</h1>
    <table class="table table-striped ">
      <div class="row mx-5 mt-5">
        <thead>
          <tr>
              <th>Cod Emprestimo</th>
              <th>Título</th>
              <th>Data</th>
              <th>Data de Devolução</th>
              <th>Cod Usuário</th>
          </tr>
      </thead>
      <tbody id="corpoTabela">
          <% const responses = lista %>
          <% lista.forEach(function(value, index) { %>
                  <tr>
                      <td><%= value.id %></td>
                      <td><%= value.titulo %></td>
                      <td><%= value.data %></td>
                      <td><%= value.dataDevolucao %></td>
                      <td><%= value.usuarioCod %></td>
                      <!--
                      <td>
                        <div>
                          <button data-id="<%= value.id %>" title="Excluir" class="btn btn-danger btnExcluir"><i class="fas fa-trash"></i></button>
                          <a href="/livro/alterar/<%= value.id %>" title="Editar" class="btn btn-primary">
                              <i class="fas fa-pen"></i>
                          </a>
                        </div>
                      </td>-->
                  </tr>   
              <% }) %>        
      </tbody>
        <hr>
      </div>
    </table>
  </form>
</div>

<script src="/js/livro/criar.js"></script>










<!--<section class="cx-scroll">
  <h1 class="text-center text-black-50 pt-5">Lista Livros</h1>
  
</section>-->

<script src="/js/livro/listar.js"></script>
=======
<div class="cx-list">
    <div class="cx-list-tilt">
      <h1 class="text-center text-black-50 pt-1">Empréstimos:</h1>
    </div>
    
    <div class="cx-list-users shadow-lg p-3 mb-5 bg-white rounded">
    
    </div>
  </div>
>>>>>>> 8ce84b8f56051b5cef08e5d7886f7387beb1e191
